.App {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #164f9b;
}

a {
  color: #164f9b;
  margin-bottom: 10px;
}

p {
  line-height: 1.5rem;
}

.searchbar {
  margin-top: 100px;
  text-align: center;
}

.article-sec {
  text-align: left;
  background-color: #ededed;
  padding: 6% 10%;
  margin: 6%;
  border-radius: 9px;
}

form {
  width: 100vw;
}

img {
  width: 100%
}

form div input,
select {
  border: none;
  border-radius: 40px;
}

form div input:nth-of-type(2) {
  margin: 0 1%;
  width: 10%;
  padding: 20px;
  background-color: #164f9b;
  margin-right: 10vw;
  color: #ededed;
  font-size: 1rem;
}

form select {
  border: solid 1px #ededed;
  border-radius: 40px;
  background-color: #ededed;
  padding: 20px;
}

form div input:nth-of-type(1) {
  background-color: #ededed;
  width: 40%;
  padding: 20px;
}
